.chat__Container {
  width: 100%;
  height: auto;
  position: fixed;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  gap: 10px;
  right: 0;
  bottom: 0;
  z-index: 100;
  justify-content: flex-end;
}
